<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div name="myPage">
    <h1 >Главная страница</h1>
    <div>
        <a href="registration" name="regLink" >Регистрация</a>
    </div>
    <div>
        <a href="login">Вход</a>
    </div>
    <div>
        <a href="ownPage">Личная страница</a>
    </div>
</div>

<!-- books -->
<div>
    <tr th:each="bookInfo: ${books}">
        <div>
                <td th:text="${bookInfo.name}" />
                <td th:text="${bookInfo.author}" />
                <img th:src="@{${bookInfo.imagePath}}"/>
        </div>
    </tr>
</div>

</body>
</html>