<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form th:method="post" th:action="@{/registration}" modelAttribute="user" th:object="${user}">
        <div>
            <label>Имя пользователя</label>
            <input type="text" th:field="*{username}" name="username">
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label>Пароль</label>
            <input type="password" th:field="*{password}" name="password">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label>Подтверждение пароля</label>
            <input type="password" th:field="*{passwordConfirm}" name="passwordConfirm">
            <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
        </div>
        <div><input type="submit" value="Зарегистрироваться"></div>
    </form>

</body>
</html>