<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>
    <div name="myPage">
    <h1>Регистрация</h1>
    <form th:method="post" th:action="@{/registration}" modelAttribute="user" th:object="${user}">
        <div>
            <label>Имя пользователя</label>
            <div><input type="text" th:field="*{username}" name="username"></div>
            <div font-color="red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <errors path="username" value=" ${usernameError}"></errors>

        </div>

        <div>
            <label>Пароль</label>
            <div><input type="password" th:field="*{password}" name="password"></div>
            <div font-color="red"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label>Подтверждение пароля</label>
            <div><input type="password" th:field="*{passwordConfirm}" name="passwordConfirm"></div>
            <div  th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
        </div>

        <div><input type="submit" value="Зарегистрироваться"></div>
    </form>
    </div>

</body>
</html>